@media(max-width: 900px) {
    .fixed {
        display: grid;
        width: 40%;
        min-width: 360px;
        overflow-y: auto;
        padding: 20px;
        padding-top: 70px;
    }
    .scrollable {
        overflow-y: auto; /* Permette lo scroll se necessario */
    }

    .large_media {
        display: none;
    }

    .content_container {
        margin-right: auto;
        margin-left: auto;
        padding: 30px;
    }
}

@media(min-width: 900px) {
    .small_media {
        display: none;
    }

    .container {
        display: flex;
        gap: 10px;
        height: 100vh; /* Altezza piena della viewport */
    }
    
    .fixed {
        display: flex;
        width: 40%;
        position: fixed;
        top: 0; /* Resta bloccato in alto mentre si scorre */
        height: 100vh;
        overflow: hidden; /* Assicurati che il contenuto non trabocchi */
        padding: 20px;
        padding-top: 70px;
    }

    .scrollable {
        flex: 1;
        width: 100%;
        overflow-y: auto; /* Permette lo scroll se necessario */
        padding-left: 10%;
        padding-top: 120px;
        margin-left: 40%;
        margin-right: 10%;
        min-width: 400px;
        -ms-overflow-style: none;  /* Nasconde la scrollbar in Internet Explorer */
        scrollbar-width: none;  
        
    }

    .scrollable::-webkit-scrollbar {
        display: none; /* Nasconde la scrollbar su Chrome, Safari e altri WebKit */
      }
    
    .content_container {
        max-width: 600px;
        margin-right: 10%;
    }
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --important_color: white;
    --base_color: rgba(255, 255, 255, 0.425);
    --accent_color: rgb(0, 255, 191);
  }

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    background: radial-gradient(circle at 70% 30%, #1abc9c80, #297fb965, #8e44ad);
    background-color: black;
    color: #ffffff;
}

.hero {
    margin-left: auto;
    padding: 20px;
    font-size: 25px;
}

/* List animation */
ul {
    list-style-type: none;
    padding: 0;
    color: var(--base_color);
    text-decoration: none;
    width: 100px;
}

ul a {
    color: var(--base_color);
    text-decoration: none;
}

ul li {
    position: relative;
    margin: 10px 0;
    padding-bottom: 5px; /* Spazio per la linea */
    font-size: 15px;
    cursor: pointer;
}

.text-container {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 50px;
}

/* Linea sottostante */
ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: var(--base_color); /* Colore della linea */
    transition: width 0.3s ease, background-color 0.3s ease; /* Transizione per il colore della linea */
}

ul li:hover .text-container {
    color: var(--important_color);
    transform: translateX(30px); /* Sposta solo il testo verso destra di 10px */
}

ul li:hover::after {
    background-color: var(--important_color); /* Cambia il colore della linea in rosso per evidenziare */
    width: 70%;
}

ul li:hover {
    color: var(--important_color); /* Colore del testo evidenziato */
}

/*toggled modifiers*/
ul li.toggled .text-container {
    color: var(--important_color);
    transform: translateX(50px); /* Sposta solo il testo verso destra di 10px */
}

ul li.toggled::after {
    background-color: var(--important_color); /* Cambia il colore della linea in rosso per evidenziare */
    width: 90%;
}

ul li.toggled {
    color: var(--important_color); /* Colore del testo evidenziato */
}

/*Contacts*/
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 0px;
}

.contact-item a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-item .icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.about {
    margin-bottom: 50px;
}

.experience, .project{
    display: grid;
    grid-template-columns: 20% 80%; /* Due colonne di uguale larghezza */
    gap: 10px; /* Spazio tra i div */
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.experience:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(128, 128, 128, 0.308);
}

.exp_content h2 {
    transition: color 0.3s ease;
}

.experience:hover .exp_content h2{
    transition: color 0.3s ease; 
    color: var(--accent_color);
}

.exp_date {
    padding-top: 13px;
    min-width: 75px;
    font-size: 13px;
}

.exp_content, .prj_content{
    font-size: 10px;
}

.exp_subjects {
    display: flex;
}

.exp_subjects p {
    font-size: 10px;
    padding: 10px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(0, 255, 191, 0.11);
    border-radius: 10px;
    border-color: var(--accent_color);
}

.project:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(128, 128, 128, 0.308);
}

.prj_content h2 {
    transition: color 0.3s ease; 
}

.project:hover .prj_content h2 {
    transition: color 0.3s ease; 
    color: var(--accent_color);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}


.prj_image_container {
    width: 80px; /* Imposta una larghezza fissa */
    aspect-ratio: 1 / 1; /* Mantieni un rapporto di aspetto 1:1 */
    overflow: hidden; /* Nascondi parte dell'immagine che esce dai bordi */
    position: relative; /* Necessario per posizionare l'immagine */
}
.prj_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Riempi il contenitore senza distorcere l'immagine */
    position: absolute; /* Per coprire tutto il contenitore */
    top: 17px;
    left: 0;
}


footer {
    margin-top: 20px;
    font-size: 10px;
    opacity: 0.5;
}
